body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 20vh; /* Centering vertically */
}

h1 {
    font-size: 3rem;
    color: #333; /* Dark gray text color */
}
